#Minha chave de api conversão de moedas a8727190333dd9ba847ac1e6
#Um exemplo https://v6.exchangerate-api.com/v6/a8727190333dd9ba847ac1e6/latest/USD
chave-api.txt

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store